# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- list commonly used libraries used by Data Scientists
- mention the popular Data Scientist tools

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java

##### Some of the commonly used libraries used by Data Scientists include:

--------------------------

- Matplotlib
- ggplot
- numpy
- panda
- Seaborn

| Data Science Tools   |
| --------------------  |
| Anaconda |
| Jupyter  |
| R        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers

(3*4) + 5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
y= 200/60

print( 'This will convert 200minutes to' ,y, 'hours')

This will convert 200minutes to 3.3333333333333335 hours

#### Author ####
Sikiru